{% extends 'base.html' %}

{% block titulo %} Lista de Materias{% endblock %}

{% block contenido %} 
 
<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-primary" href="{% url 'crear_materia'%}" role="button"> agregar nueva materia</a> 
    </div>
    <div class="card-body">
        <h4 class="card-title">Materias</h4>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Creditos</th>
                </tr>     
            </thead>

            <tbody>
                {% for materia in materia %}
                <tr>
                    <td>{{ materia.codigo }}</td>
                    <td>{{ materia.nombre }}</td>
                    <td>{{ materia.credito }}</td>
                    <td> <a name="" id="" class="btn btn-info" href="{% url 'editar_materia'%}" role="button">Editar</a> 
                        | 
                        <a name="" id="" class="btn btn-danger" href="{% url 'crear_materia'%}" role="button">Borrar</a> </td>
                </tr>     
                {% endfor %}
            </tbody>
        </table>          
    </div>
</div>

{% endblock %}